.item-link {
    color: var(--text-color);
    text-decoration: none;
    @include transition(color $transition-fast ease);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, $grey-400, transparent);
        opacity: 0;
        @include transition(opacity 0.3s ease);
        z-index: 1;
        pointer-events: none;
        mix-blend-mode: overlay;
    }

    &:hover::before {
        opacity: 1;
        left: 100%;
        @include transition(left 0.6s ease-out, opacity 0.1s ease);
    }
}

body[data-theme="dark"] .item-link {
    &::before {
        background: linear-gradient(90deg, transparent, $grey-600, transparent);
    }

    &:hover {
        color: var(--text-hover-dark);
    }
}

body[data-theme="light"] .item-link:hover {
    color: var(--text-hover-light);
}

