:root {
    --font-default: #{$font-default};
    --font-heading: #{$font-heading};
    --font-logo: #{$font-logo};

    --transition-speed-fast: #{$transition-fast};
    --transition-speed-medium: #{$transition-medium};
    --transition-speed-slow: #{$transition-slow};

    --border-radius-small: #{$radius-small};
    --border-radius-medium: #{$radius-medium};
    --border-radius-large: #{$radius-large};
    --border-radius-round: #{$radius-round};
    --alert-bar-height: #{$alert-bar-height};

    --grey-50: #{$grey-50};
    --grey-100: #{$grey-100};
    --grey-200: #{$grey-200};
    --grey-300: #{$grey-300};
    --grey-400: #{$grey-400};
    --grey-500: #{$grey-500};
    --grey-600: #{$grey-600};
    --grey-700: #{$grey-700};
    --grey-800: #{$grey-800};
    --grey-900: #{$grey-900};
    --grey-950: #{$grey-950};

    --text-color-light: #{$grey-900};
    --bg-color-light: #{$grey-50};
    --navbar-bg-light: rgba(255, 255, 255, 0.85);
    --card-bg-light: #{$grey-100};
    --accent-color-light: #{$grey-700};
    --grid-color-light: #{$grey-200};
    --scrollbar-thumb-light: #{$grey-400};
    --scrollbar-track-light: #{$grey-100};
    --selection-bg-light: #000;
    --selection-text-light: #fff;
    --shadow-color-light: rgba(0, 0, 0, 0.1);
    --button-shadow-color-light: #{$grey-300};
    --circle-color-light-1: #{$grey-300};
    --circle-color-light-2: #{$grey-400};
    --shadow-offset: #{$shadow-offset};
    --hover-shift: #{$hover-shift};

    --text-color-dark: #{$grey-50};
    --bg-color-dark: #0a0a0a;
    --navbar-bg-dark: rgba(20, 20, 20, 0.85);
    --card-bg-dark: #{$grey-900};
    --accent-color-dark: #{$grey-500};
    --grid-color-dark: #{$grey-800};
    --scrollbar-thumb-dark: #{$grey-700};
    --scrollbar-track-dark: #{$grey-900};
    --selection-bg-dark: var(--text-color-dark);
    --selection-text-dark: var(--bg-color-dark);
    --shadow-color-dark: rgba(0, 0, 0, 0.4);
    --button-shadow-color-dark: #{$grey-800};
    --circle-color-dark-1: #{$grey-800};
    --circle-color-dark-2: #{$grey-700};

    --text-color: var(--text-color-light);
    --bg-color: var(--bg-color-light);
    --navbar-bg: var(--navbar-bg-light);
    --card-bg: var(--card-bg-light);
    --accent-color: var(--accent-color-light);
    --grid-color: var(--grid-color-light);
    --scrollbar-thumb: var(--scrollbar-thumb-light);
    --scrollbar-track: var(--scrollbar-track-light);
    --selection-bg: var(--selection-bg-light);
    --selection-text: var(--selection-text-light);
    --shadow-color: var(--shadow-color-light);
    --button-shadow-color: var(--button-shadow-color-light);
    --circle-color-1: var(--circle-color-light-1);
    --circle-color-2: var(--circle-color-light-2);
    --text-hover-light: #{$grey-950};
    --text-hover-dark: #{$grey-300};
}

body[data-theme="dark"] {
    --text-color: var(--text-color-dark);
    --bg-color: var(--bg-color-dark);
    --navbar-bg: var(--navbar-bg-dark);
    --card-bg: var(--card-bg-dark);
    --accent-color: var(--accent-color-dark);
    --grid-color: var(--grid-color-dark);
    --scrollbar-thumb: var(--scrollbar-thumb-dark);
    --scrollbar-track: var(--scrollbar-track-dark);
    --selection-bg: #fff;
    --selection-text: #000;
    --shadow-color: var(--shadow-color-dark);
    --button-shadow-color: var(--button-shadow-color-dark);
    --circle-color-1: var(--circle-color-dark-1);
    --circle-color-2: var(--circle-color-dark-2);
}

