*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    @include transition(background-color $transition-medium ease, color $transition-medium ease);
    overflow-x: hidden;
    position: relative;

    &.alert-bar-active {
        #navbar {
            top: var(--alert-bar-height, 48px);
        }

        --alert-bar-height: 48px;
    }

    &.alert-bar-closing {
        #navbar {
            top: 0;
        }
    }
}

