::-webkit-scrollbar {
    width: 12px;

    &-track {
        background: var(--scrollbar-track);
        border-radius: $radius-large;
    }

    &-thumb {
        background: var(--scrollbar-thumb);
        border-radius: $radius-large;
        border: 2px solid var(--scrollbar-track);

        &:hover {
            background: var(--accent-color);
        }
    }
}

