body {
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
    background-color: #0c0c0c;
    color: white;
}

.color-preview {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin-top: 10px;
}

.dark-mode input,
.dark-mode .form-control {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
}
